.formulario-container{
    font-family: "Poppins-ExtraLight";
    display: flex;
    margin: 20px;
    width: 80%;
    border-left: 3px solid #006CD8;
    background: #E5E5E5;
}

.formulario-bloque1{
    width: 300px;
    margin: 18px;
    margin-left: 25px;
    font-weight: bold;
}

.formulario-bloque1 label{
    font-size: 17px;
    color: #555555;
}

.formulario-bloque1 div input{
    padding: 12px;
    border: 0px;
    font-size: 15px;
    outline: none;
}

.formulario-bloque2{
    width: 300px;
    margin-top: 37px;
    margin-left: 5px;
    text-align: center;
    width: 23%;
    text-align: right;
}

.select{
    border: none;
    padding: 12px;
    font-size: 15px;
    font-family: "Poppins-ExtraLight";
    font-weight: bold;
}

.formulario-bloque3{
    display: block;
    width: 27%;
    margin: 5px;
    text-align: right;
}

.formulario-bloque3 label{
    font-size: 17px;
}

.delete_right {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 25px;
    cursor: pointer;
    color: #E5E5E5;
    background: #A3A3A3;
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-right: 8px;
}